## Prepare Workspace

In [1]:
# IMPORT LIBRARIES

import numpy as np													# Numerical computations
import pandas as pd 												# Data structures
import matplotlib.pyplot as plt										# Statistic visualizations
from pandas.plotting import scatter_matrix							# Scatter matrix
import seaborn as sns												# Statistic visualizations
import statsmodels.api as sm										# Model construction
from scipy import stats			                                    # Statistics
import statsmodels.api as sm                                        # Model construction
from sklearn.linear_model import LinearRegression					# Regression model
from sklearn.preprocessing import MinMaxScaler                      # Assigns numeric ranges 0-1
from sklearn.ensemble import RandomForestRegressor					# Decision Trees
from sklearn.model_selection import train_test_split				# Test models
from sklearn.metrics import root_mean_squared_error, r2_score		# Model accuracy

In [2]:
df = pd.read_csv("data/data.csv")
df

,interest_rate,fico_range,amount_requested,amount_funded_by_investors,loan_length
0,8.90,735-739,20000.0,20000.00,36.0
1,12.12,715-719,19200.0,19200.00,36.0
2,21.98,690-694,35000.0,35000.00,60.0
3,9.99,695-699,10000.0,9975.00,36.0
4,11.71,695-699,12000.0,12000.00,36.0
...,...,...,...,...,...
2493,16.77,705-709,30000.0,29950.00,60.0
2494,14.09,740-744,16000.0,16000.00,60.0
2495,13.99,680-684,10000.0,10000.00,36.0
2496,12.42,675-679,6000.0,6000.00,36.0
2497,13.79,670-674,9000.0,5242.75,36.0

In [ ]:
display(df.info())
display(df.describe())

In [ ]:
print(df["fico_range"].nunique())
print(df["fico_range"].unique())

In [3]:
df['fico_score'] = df['fico_range'].apply(lambda x: int((int(x.split('-')[0]) + int(x.split('-')[1])) / 2))
df

,interest_rate,fico_range,amount_requested,amount_funded_by_investors,loan_length,fico_score
0,8.90,735-739,20000.0,20000.00,36.0,737
1,12.12,715-719,19200.0,19200.00,36.0,717
2,21.98,690-694,35000.0,35000.00,60.0,692
3,9.99,695-699,10000.0,9975.00,36.0,697
4,11.71,695-699,12000.0,12000.00,36.0,697
...,...,...,...,...,...,...
2493,16.77,705-709,30000.0,29950.00,60.0,707
2494,14.09,740-744,16000.0,16000.00,60.0,742
2495,13.99,680-684,10000.0,10000.00,36.0,682
2496,12.42,675-679,6000.0,6000.00,36.0,677
2497,13.79,670-674,9000.0,5242.75,36.0,672

In [ ]:
print(df["loan_length"].nunique())
print(df["loan_length"].unique())

In [ ]:
scatter_matrix(df, figsize=(20, 20))
plt.show()

In [ ]:
# Make column as fico scores into ordinal (?) data (Need dictionary or some mapping of each range to its value?) -----DONE
	# ANSWER - Instead of assigning an ordinal number to represent a FICO range, I decided each range can be represented by the avg in that range. This can be converted in the model with MinMaxScaler

# Turn loan length data into encoded data (0 and 1 for 3 years and 5 years) -----DONE
	# ANSWER - One Hot Encoding wasn't needed. We verified only two values, which was transformed to 0/1 during MinMaxScaler

# Create new column of percentage funded

# Rerun scatter matrix

# Drop the amount requested in lieu of amount funded -----DONE
	# Column wasn't deleted, but was not included when defining 'X'

# Scale data to fit 0 - 1 -----DONE
	# Via MinMaxScaler

# Run Linear Regression model

	# Training test

	# Get R2 value

	# OLS with Statsmodels to get the helpful table

# Draw scatter plot with red horizontal line

# Strongest relationships or predicitve potential. Add visualizations

# Practical guidance to business owners

	# Human-readable plots

## Apply Model

In [4]:
# Setting feature and target variables

X = df.drop(['interest_rate', 'fico_range', 'amount_requested'], axis=1)
y = df["interest_rate"]

In [48]:
# Splitting data into groups before fitting

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.255, random_state=42)

In [ ]:
num_cols = ['amount_funded_by_investors', 'loan_length', 'fico_score']
df[num_cols] = MinMaxScaler().fit_transform(df[num_cols])

In [49]:
# Apply Linear Regression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
np.round(y_pred, 2)

array([16.07,  4.43,  5.91, 11.1 ,  7.23, 14.18, 10.5 , 15.62, 19.08,
       13.64, 11.97, 13.59, 14.12,  7.12, 17.98, 12.62,  9.33, 18.17,
       21.06, 15.2 , 12.42, 13.93,  5.58, 19.45, 12.82, 10.42, 11.66,
       14.12, 15.37,  9.94, 15.61, 12.44, 10.12, 14.22, 14.05, 16.3 ,
       13.89, 13.28, 11.41, 14.03,  2.7 , 15.11, 13.98, 20.26, 19.65,
       14.62, 15.53, 20.46, 16.04, 22.6 , 12.34, 15.67,  4.1 , 14.96,
       13.72, 12.34, 13.66, 11.34, 14.13, 13.01,  9.96,  9.71, 14.5 ,
       15.01,  9.26,  6.42,  9.98, 13.82,  6.18, 13.51, 15.65,  9.26,
       16.84, 15.32, 15.17, 10.47, 15.31, 14.48, 14.33, 10.28, 13.08,
       12.74,  9.19, 15.35, 12.9 , 13.56, 17.03, 16.35, 13.01, 15.1 ,
       16.76, 16.2 , 13.45, 10.19, 10.12, 13.78, 18.24, 12.13, 10.87,
       11.26,  6.51, 16.27, 10.83,  7.92, 14.41,  2.38, 14.38,  9.85,
        7.  , 10.03, 15.36,  5.83, 13.89, 12.15,  8.11, 15.8 , 13.56,
       13.47, 14.33, 13.04, 14.21,  6.32, 12.41, 13.06,  8.05, 13.11,
       14.63, 13.18, 17.23, 12.39, 13.63,  7.88,  6.11, 13.66, 13.28,
       12.78,  6.75, 12.6 ,  8.39, 10.78, 12.81, 19.57,  9.23, 11.89,
       12.86,  9.29,  9.32, 11.33, 15.56,  4.  , 13.28, 19.34,  6.75,
       15.06,  9.36,  6.15, 11.87, 11.79, 14.65, 11.67, 14.09, 14.92,
       13.4 , 17.03, 14.49, 14.76, 14.76, 15.57, 16.25, 15.74,  8.76,
       12.82, 14.53, 19.7 , 11.1 , 11.31, 14.02,  9.72, 14.16, 14.66,
       16.35, 10.22, 14.17, 15.69, 18.81, 14.66, 17.38, 13.75, 16.18,
        5.26, 13.62, 15.15, 11.86, 14.09, 20.32, 13.45, 15.77, 19.28,
       14.13,  9.93,  7.57, 13.01, 12.82, 10.75, 12.61, 12.91, 14.84,
       15.  , 11.28, 13.7 ,  7.83, 12.53,  9.95, 11.7 , 16.45, 22.79,
       12.14, 16.4 , 10.22, 15.23, 10.84, 11.04, 15.33, 21.24, 13.19,
       15.03, 17.16, 14.93, 15.03, 11.36,  9.93, 15.61, 17.23, 13.71,
        4.52, 16.07, 11.52, 11.61, 12.34, 12.92, 15.54,  6.95, 12.42,
       14.87, 12.74, 12.83, 15.86,  7.61, 14.33, 14.  , 13.39, 11.37,
        7.05, 15.  , 20.96, 17.38, 12.09, 12.34, 10.43, 14.38, 12.64,
        9.81,  9.33, 14.02, 14.66, 15.47, 12.17,  9.88, 20.49, 13.47,
       10.56, 15.79,  8.72, 15.92, 14.66, 11.13, 11.26, 13.83, 13.45,
       13.21, 17.06, 14.56, 13.78,  7.94, 11.43, 14.95, 20.03, 19.15,
       15.44, 15.91, 14.76, 16.9 , 13.01,  7.06, 15.2 , 14.06,  8.47,
        2.85, 11.87, 11.3 , 11.27, 13.76, 11.46, 15.58, 13.34,  9.52,
       20.04, 12.92, 12.62, 13.78,  6.89, 18.81, 14.66, 12.89, 19.12,
       12.25, 10.06, 11.33, 14.54, 13.17,  7.28,  9.08, 18.95, 11.7 ,
       12.74, 16.89, 14.87,  8.74, 14.28, 19.03, 19.67, 15.18, 11.87,
       14.46, 14.09, 14.96, 15.  , 14.6 , 16.71,  6.15, 14.36, 15.51,
       15.13, 12.07, 12.19,  6.56, 14.67, 15.27, 15.11, 15.1 , 17.84,
       14.06, 14.36, 13.54, 10.85, 16.62, 13.93,  9.11, 13.72, 10.5 ,
       13.39, 12.36, 12.57, 16.02, 15.62, 11.16, 19.24, 13.95,  9.28,
       15.67, 12.96, 12.04, 18.45,  8.24, 11.55, 11.86, 10.06, 10.16,
       10.75, 10.3 , 12.68, 15.24, 14.33,  9.71, 11.46,  7.86, 12.61,
       11.7 , 20.33, 10.72, 15.  ,  8.9 , 17.09, 16.96,  5.81, 15.4 ,
       11.76,  6.02, 11.  , 10.53, 14.47, 12.34, 14.68, 16.83, 14.26,
       14.25, 16.16, 13.23,  6.35,  3.92, 19.06, 14.33,  8.91, 17.66,
       14.09, 15.96, 16.94, 17.4 , 13.01, 18.24,  5.34, 11.49, 12.16,
       15.91, 11.97, 18.02, 18.37, 16.48, 21.21, 10.34, 14.03,  3.96,
       16.15, 10.39,  9.44, 13.62,  8.69, 19.39, 10.1 , 15.74, 14.16,
       14.39, 10.19, 13.12, 15.92, 15.13, 13.89, 14.38, 14.33,  8.7 ,
       17.09, 16.19, 19.79, 13.78, 11.18, 16.59, 14.6 , 14.66, 14.16,
       17.69, 16.67, 10.86, 13.25, 15.88, 13.28, 13.35, 12.54, 11.19,
       14.76,  4.  ,  3.35, 19.09, 12.17, 18.78, 10.93, 13.05, 12.  ,
       14.35, 14.87, 20.87, 17.27, 12.24, 14.02,  6.15,  7.29, 14.76,
       16.82, 20.26, 15.94, 14.63,  8.91, 14.6 , 18.18, 15.04,  4.8 ,
       17.61, 12.39, 15.04,  6.95,  9.73, 12.9 , 14.83, 13.85,  9.41,
        7.83,  9.54, 14.76, 14.33,  8.95,  9.65, 12.42, 13.59,  8.58,
       11.77, 17.83, 14.93, 11.79, 19.78, 10.62, 13.89, 14.87, 22.12,
        9.17, 12.14,  9.95, 16.25, 13.25, 15.12,  7.4 ,  7.05, 18.4 ,
       13.53, 10.15, 12.28, 16.19, 13.55, 10.62, 11.78, 11.62, 14.  ,
       16.85, 16.34, 14.22, 11.46, 19.42,  7.27,  5.67, 14.35, 17.1 ,
        9.41, 14.25, 15.44, 21.04, 14.93, 17.57, 14.76, 15.03, 14.33,
       12.2 ,  4.44, 15.12, 11.97, 19.93, 16.35, 14.81, 14.52, 10.51,
       15.27,  8.43, 13.08, 10.47, 13.71, 11.  , 14.26, 14.44, 14.38,
       15.  , 13.68, 17.7 , 16.61, 13.78, 11.16, 12.54, 11.29,  9.52,
       18.34, 14.79, 14.93, 10.66, 14.12,  7.43, 15.8 ,  5.31, 11.28,
       11.7 , 12.03, 15.88, 21.28, 16.12, 12.58, 14.52, 21.31, 19.73,
        9.59, 10.72, 16.78, 17.94, 13.59, 14.51, 17.15, 10.96, 15.65,
       13.62,  9.02, 14.9 , 17.71, 10.42, 12.38, 11.99,  8.92, 17.82,
       11.12,  6.38,  8.17, 14.88, 16.9 , 14.63,  7.51,  5.4 ,  9.75,
       13.18, 19.1 , 11.76, 14.49, 14.18, 16.28, 15.35])

In [7]:
# OPTIONAL - Apply Regression with Statsmodels to get OLS table

X_2 = sm.add_constant(X_train)
model_2 = sm.OLS(y_train, X_2).fit()

print(model_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          interest_rate   R-squared:                       0.749
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     1983.
Date:                Mon, 24 Nov 2025   Prob (F-statistic):               0.00
Time:                        08:17:59   Log-Likelihood:                -4314.5
No. Observations:                1998   AIC:                             8637.
Df Residuals:                    1994   BIC:                             8659.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                         67.9304      0.975     69.694      0.000      66.019      69.842
amount_funded_by_investors     0.0001   6.66e-06     20.657      0.000       0.000       0.000
loan_length                    0.1395      0.005     26.898      0.000       0.129       0.150
fico_score                    -0.0880      0.001    -65.243      0.000      -0.091      -0.085
==============================================================================
Omnibus:                      123.696   Durbin-Watson:                   2.040
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              176.644
Skew:                           0.530   Prob(JB):                     4.39e-39
Kurtosis:                       3.999   Cond. No.                     2.98e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.98e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [51]:
# R2 Score

print(f"Test R^2 Score: {model.score(X_test, y_test):.4f}")

Test R^2 Score: 0.7502

## Test Model

In [56]:
test_funded = 25000
test_length = 36
test_fico = 800

test_vars = np.array([[test_funded, test_length, test_fico]])
test_terms = pd.DataFrame(test_vars, columns = ['amount_funded_by_investors', 'loan_length', 'fico_score'])
predicted_rate = model.predict(test_terms)

print(f"Predicted interest rate: {predicted_rate[0]:,.2f}%")

Predicted interest rate: 6.04%